<div class="col-xs-12 col-xl-12 text-xs-center">
	<%= simple_form_for @list, class: "form-horizontal"  do |f| %>

	<p class="text-danger"><%= f.error_notification %></p>
		<div class="form-group form-group-lg">
			<%= f.input :name, label: false, input_html: { class: 'form-control' }, placeholder: "Nombre de la Lista" %>
			<br>
			<%= f.input :url, label: false, input_html: { class: 'form-control', readonly: true }, placeholder: "nombre-de-la-lista (URL resultante)" %>
		</div>

	<%= f.button :submit , class: "btn btn-success"%>
	<% end %>
	<br>
</div>

