<% if @list.tasks.long.any? %>  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>State</th>
        <th>Priority</th>
        <th>Percentage</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @list.tasks.long.each do |long_task| %>
        <tr>
          <td><%= long_task.description %></td>
          <td><%= long_task.state %></td>
          <td><%= long_task.priority %></td>
          <td><%= long_task.percentage %></td>
          <td><%= link_to '✎', url_for([:edit, @list, long_task]), class: "btn btn-secondary" %></td>
          <td><%= link_to '🚫', [@list, long_task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
