<% if @list.tasks.simple.each.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>State</th>
        <th>Priority</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @list.tasks.simple.each do |simple_task| %>
        <tr>
          <td><%= simple_task.description %></td>
          <td><%= simple_task.state %></td>
          <td><%= simple_task.priority %></td>
          <td><%= link_to '✎', url_for([:edit, @list, simple_task]), class: "btn btn-secondary" %></td>
          <!-- 

          Lo de arriba es lo mismo que poner:
          <td><%= link_to '✎', edit_list_simple_task_path(:list_id => @list.url ,:id => simple_task.id) %></td> 

          -->
          <td><%= link_to '🚫', [@list, simple_task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>