<div class="col-xl-12 text-xs-center">
    <%= simple_form_for @long_task, class: "form-horizontal"  do |f| %>
      <p class="text-danger"><%= f.error_notification %></p>

      <div class="row">
        <div class="col-md-3">
          <h3> Description </h3>
        </div>
        <div class="col-md-9">
          <%= f.input :description, label: false , input_html: { class: 'form-control' } %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <h3> What's the current state of the task? </h3>
        </div>
        <div class="col-md-9 radio">
          <%= f.input :state, collection: { "Starting ~" => "pending", "On it -.-" => "on_it", "Finally Done!" => "done"}, value_method: :last, label_method: :first ,label: false , as: :radio_buttons%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <h3> Is this: "Important! VERY Important!! or ULTRA Important!!!"? </h3>
        </div>
        <div class="col-md-9">
          <%= f.input :priority, label: false , collection: { "!" => 1, "!!" => 2, "!!!" =>3}, value_method: :last, label_method: :first , input_html: { class: 'form-control' }%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <h3> Percentage of completation </h3>
        </div>
        <div class="col-md-9">
          <%= f.input :percentage,label: false , as: :range, input_html: {onchange: "rangevalue.value=value", class: 'bar', min: 0.0, max: 100.0, step: 0.2} %>
          <output id="rangevalue">
            <% if @long_task.percentage? %>
            <%= @long_task.percentage %>
            <% else %>
            50
            <% end %>
          </output>%
        </div>
      </div>
      <br>
        <%= f.input :type, :as => :hidden, input_html: { readonly: true} %>
        <%= f.association :list, :as => :hidden, input_html: {value: @list_id , readonly: true} %>

        <div class="col-sm-12">
          <%= f.button :submit , class: "btn btn-success"%>
        </div>
    <% end %>
</div>
