<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @long_task.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @long_task.state %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @long_task.priority %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @long_task.percentage %>
</p>

<%= link_to 'Edit', edit_long_task_path(@long_task) %> |
<%= link_to 'Back', long_tasks_path %>
