<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>State</th>
      <th>Priority</th>
      <th>Valid from</th>
      <th>Valid until</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.tasks.where(type: 'TemporalTask').each do |temporal_task| %>
      <tr>
        <td><%= temporal_task.description %></td>
        <td><%= temporal_task.state %></td>
        <td><%= temporal_task.priority %></td>
        <td><%= temporal_task.valid_from %></td>
        <td><%= temporal_task.valid_until %></td>
        <td><%= link_to 'Edit', edit_temporal_task_path(temporal_task) %></td>
        <td><%= link_to 'Destroy', temporal_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>