<% if @list.tasks.temporal.valid(Time.now).any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>State</th>
        <th>Priority</th>
        <th>Valid from</th>
        <th>Valid until</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @list.tasks.temporal.valid(Time.now).each do |temporal_task| %>
        <tr>
          <td><%= temporal_task.description %></td>
          <td><%= temporal_task.state %></td>
          <td><%= temporal_task.priority %></td>
          <td><%= temporal_task.valid_from %></td>
          <td><%= temporal_task.valid_until %></td>
          <td><%= link_to '✎', url_for([:edit, @list, temporal_task]), class: "btn btn-secondary" %></td>
          <td><%= link_to '🚫',  [@list, temporal_task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
