<section class="jumbotron text-xs-center">
	<p class="text-info" id="notice"><%= notice %></p>
	<div class="container">
		<h1 class="jumbotron-heading">
			<strong>Name:</strong>
  			<%= @list.name %>
		</h1>
		<p class="lead text-muted">
		  <strong>Url:</strong>
		  <%= @list.url %>
		</p>
		<p>
			<%= link_to ' Home ', new_list_path , class: "btn btn-primary" %>
			<%= link_to ' Edit ', edit_list_path(@list) , class: "btn btn-secondary" %> 
		</p>
	</div>
</section>
	
	
<div class='row'>
	<div class="col-xl-6 col-xs-12" >
		<h1> Simple Tasks </h1>
		<%= render 'tabla_simple' %>
		<%= link_to 'New Simple Task', new_simple_task_path(:id => @list.id), class: "btn btn-lg btn-success" %>
	</div>

	<div class="col-xl-6 col-xs-12" >
		<h1> Long Tasks </h1>
		<%= render 'tabla_long' %>
		<%= link_to 'New Long Task', new_long_task_path(:id => @list.id), class: "btn btn-lg btn-success" %>
	</div>		
		
	<div class="col-xs-12" >
		<h1> Temporal Tasks </h1>
		<%= render 'tabla_temporal' %>
		<%= link_to 'New Temporal Task', new_temporal_task_path(:id => @list.id), class: "btn btn-lg btn-success" %>	
	</div>
</div>